/* Global styles for both login and signup pages */
body {
  background-image: url('../../Assets/Gradient.png'); /* Replace with your image path */
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
	padding-bottom: 10px;
  }
  
  .auth-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90vw;
    height: 100vh;
   padding-left: 4%;
  }
  
  .auth-box {
    background: #fff;
    border-radius: 15px;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
    text-align: center;
    padding: 5%;
  }
  
  .heading {
    margin-bottom: 2%;
    font-size: 2rem;
    color: #333;
  }

  .auth-form{
    margin-top: 2%;
  }

  .auth-box h1 {
    font-size: 28px;
    margin-bottom: 10px;
    color: #333;
  }
  
  .auth-box p {
    font-size: 14px;
    color: #666;
    margin-bottom: 20px;
  }
  
  .auth-input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 10px;
    font-size: 16px;
  }
  
  .auth-button {
    width: 100%;
    padding: 10px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 10px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .auth-button:hover {
    background-color: #555;
  }
  
  .auth-footer {
    margin-top: 15px;
    font-size: 14px;
    color: #666;
  }
  
  .auth-link {
    color: #007bff;
    text-decoration: none;
  }
  
  .auth-link:hover {
    text-decoration: underline;
  }
  